<app-header></app-header>
<!-- <img src={{imageUrl}} alt="" class="randomimg"> -->
<div class="main-con">
<img [src]="imageUrl" alt="" class="randomimg">

<label for="topicSelect">Select a topic:</label>
<select id="topicSelect" [(ngModel)]="topic">
 <option value="">None</option>
  <option value="nature">Nature</option>
  <option value="wallpapers">Wallpapers</option>
  <option value="travel">Travel</option>
  <option value="3d-renders">3d-renders</option>
  <option value="architecture-interior">architecture-interior</option>
</select>

<button class="generatebtn" (click)="OnGetRandomImage()">Generate new random picture</button>

